a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border-color: rgb(180, 180, 180) !important;
  word-break: break-all;
}
body {
  margin:0px;
}
.container {
    display: flex;
    flex-direction: column;
  }
  header {
      display: flex;
      background: rgb(60, 60, 60);
      color: rgb(240, 240, 240);
   }
   h1{
       padding: 20px;
       height: 80px;
       margin: 0px;
       text-align: right;
       flex-grow: 1;
     }
     h1 a {
       text-decoration: none;
       color: pink;
     }
   nav {
       display: inline;
       text-align: center;
       padding-top: 0px;
       height: 80px;
       flex-grow: 1;
     }
     nav ul {
         list-style: none;
         margin-top: 10px;
     }
     .main_nav li {
         float: left;
         margin: 20px;
         margin-top: 20px;
       }
       .main_nav li .nav_detail {
         position: absolute;
         left: 330px;
         top: 50px;
         background: rgba(60, 60, 60, 1);
         padding: 30px;
         width: 600px;
         color: pink;
       }
     nav a {
       text-decoration: none;
       color: white;
     }
   .login_register {
       display: flex;
       flex-direction: row;
       margin-top: 30px;
       flex-grow: 1;
      }
      .login_register #name {
          padding-right: 10px;
        }
        #name .nav_detail {
            position: absolute;
            left: 1000px;
            top: 54px;
            background: rgba(60, 60, 60, 1);
            padding: 20px;
            width: 120px;
            color: pink;
          }
          #name .nav_detail div {
            margin-bottom: 6px;
          }
          #name .nav_detail a:hover {
            color: pink;
          }


  section {
      display: flex;
      background-color: rgb(235, 235 , 235);
      flex-direction: row;
      padding: 30px;
    }
    article .index{
        flex-grow: 1;
        display: grid;
        grid-template-columns: 426px 426px;
        grid-template-rows: 210px 210px 210px;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .composer_board, .lyricist_board, .performer_board, .free_board, .completed_board {
          margin: 8px;
          background-color: white;
        }
        .index .title {
          font-weight: bold;
          padding: 6.6px;
          background-color: rgb(60,60,60);
        }
        .lyricist_board {
          grid-row: 2/3;
        }
        .free_board {
          grid-row: 1/3;
        }
        .index ul {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          list-style: none;
          padding: 0%;
          margin: 0%;
        }
        .index li {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 3px;
          padding-bottom: 3px;
        }
        .index li:nth-child(2n){
          background-color: rgb(221, 221, 221);
        }

    article .login_page, article .register_page {
        height: 300px;
        text-align: center;
        padding: 60px;
        flex-grow: 1;
      }
      .login_page form {
        display: grid;
        grid-template-columns: 100px 150px 100px;
        grid-template-rows: 28px 28px;
      }
      .login_page label {
         grid-column: 1/2;
      }
      .blank {
         margin: 3px;
         margin-left: 10px;
      }
      .login_page #submit {
        grid-column: 3/4;
        grid-row: 1/3;
        margin-left: 20px;
      }
      .register_page form {
        display: grid;
        grid-template-rows: 28px 28px 28px;
        grid-template-columns: 100px 150px 100px;
      }
      .register_page #submit {
        grid-row: 1/4;
        grid-column: 3/4;
        margin-left: 20px;
      }
    article .board {
        flex-grow: 1;
        flex-shrink: 0 !important;
        margin-top: 20px;
        margin-bottom: 60px;
        min-height: 600px;
      }
      article .board table {
          background: white;
          width: 650px;
          border-top: 1px solid #444444;
          border-collapse: collapse;
          margin-top: 30px;
          font-size: 14px;
        }
        .board table thead{
          font-weight: bold;
          background: rgb(60,60,60);
          color:white;
          padding: 5px;
        }
        .board table tr:nth-child(2n) {
          background: rgb(220,220,220);
        }
        .board table td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 5px;
          }
          .board table td:nth-child(2) {
            width: 400px;
            max-width: 400px;
          }
          .board table td:nth-child(5) {
            text-align: center;
          }
          .board table td a {
            text-decoration: none;
            color: black;
          }
      article .board h2 {
         display: inline;
        }
        article .board h2 a {
          text-decoration: none;
          color: black;
        }
      article .board >form {
        display: inline;
        margin-left: 20px;
      }
      article .board .post {
          background: white;
          width: 600px;
          border-radius: 5px;
          margin-top: 20px;
        }
        .post .title {
          font-weight: bold;
          padding: 10px;
        }
        .post .info {
            display: flex;
            font-size: 12px;
            background: rgb(240,240,240);
          }
          .post .info .author, .post .info .time, .post .info .views {
            flex-grow: 1;
            padding: 10px;
          }
        .post >.content {
          min-height: 300px;
          padding: 10px;
        }
        .post audio {
          margin: 40px;
        }
        .post .buttons {
            vertical-align: bottom;
            text-align: right;
            display: block;
            padding: 10px;
          }
          .post .buttons form {
            display: inline;
          }
        .post .neighbor {
            padding: 10px;
            background: rgb(240,240,240);
          }
          .post .neighbor a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        .post >form {
          padding: 22px;
          padding-top: 50px;
        }
        .post .reply:nth-child(2n) {
            padding: 10px;
            background-color: white;
          }
        .post .reply:nth-child(2n-1) {
            padding: 10px;
            background-color: rgb(240,240,240);
          }
          .post .reply form {
            float: right;
            margin: 10px;
          }
          .post .reply .created {
            font-size: 12px;
            text-align: right;
          }
          .post .reply .author {
            font-size: 12px;
            padding-bottom: 5px;
          }
      article .board .page {
          text-align: center;
          padding: 20px;
        }
        .page a {
          text-decoration: none;
          color: black;
          padding: 5px;
        }
    article .write {
        margin: 30px;
      }
      article .write form>*{
        margin:10px;
      }
      article .write #submit {
        position:relative;
        left:547px;
        bottom: 50px;
      }
    article .mailbox {
        flex-grow: 1;
        flex-shrink: 0 !important;
        margin-top: 20px;
        margin-bottom: 60px;
        min-height: 400px;
      }
      article .mailbox table {
          background: white;
          width: 650px;
          border-top: 1px solid #444444;
          border-collapse: collapse;
          margin-top: 30px;
          font-size: 14px;
        }
        .mailbox table thead{
          font-weight: bold;
          background: rgb(60,60,60);
          color:white;
          padding: 5px;
        }
        .mailbox table tr:nth-child(2n) {
          background: rgb(220,220,220);
        }
        .mailbox table td {
            word-break: break-all;
            padding: 5px;
          }
          .mailbox table td:nth-child(2) {
            width: 400px;
            max-width: 400px;
          }
          .mailbox table td a {
            text-decoration: none;
            color: black;
          }
      article .mailbox >form {
        display: inline;
        margin-left: 30px;
      }
      article .mailbox h2 {
         display: inline;
        }
        article .mailbox h2 a {
          text-decoration: none;
          color: black;
        }
      article .mailbox .mail {
        background: white;
        border-radius: 5px;
        margin-top: 20px;
        width: 300px;
        min-height: 300px;
        padding: 10px;
        }
        .mail .info {
            display: flex;
            font-size: 12px;
            background: rgb(240,240,240);
          }
          .mail .info .sender, .mail .info .time {
            flex-grow: 1;
            padding: 10px;
          }
        .mail >.content {
          min-height: 300px;
          padding: 10px;
        }
        .mail form {
            vertical-align: bottom;
            display: inline;
          }
      article .mailbox .page {
          text-align: center;
          padding: 20px;
        }
        .page a {
          text-decoration: none;
          color: black;
          padding: 5px;
        }
    article .write_mail {
        margin: 30px;
      }
      article .write_mail form>*{
        margin:10px;
      }
    article .mypage {
      padding-bottom: 60px;
      flex-grow: 1px;
    }
      article .mypage .myinfo {
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 30px;
      }
      .myinfo .post_number {
        padding-right: 50px;
        border-right: 1px solid gray;
      }
      .myinfo .edit_name {
        padding-left: 30px;
      }
      .myinfo form {
          display: grid;
          grid-template-columns: 120px 150px 100px;
          grid-template-rows: 28px 28px 28px;
        }
        .myinfo form #submit {
          grid-row: 1/4;
          grid-column: 3/4;
          margin-left: 20px;
        }

    aside {
        flex-grow: 1;
        margin: 30px;
        background-color: rgb(235, 235 , 235);
        width: 100px;
      }

  footer {
    height: 100px;
    background: powderblue;
    background: rgb(60, 60, 60);
    color: rgb(240, 240, 240);
    padding: 30px;
    text-align: center;
   }
