* {
  box-sizing: border-box;
  flex-shrink: 0;
  border-color: rgb(180, 180, 180) !important;
}
body {
  margin:0px;
}
.container {
    display: flex;
    flex-direction: column;
  }
  header {
      display: flex;
      background: rgb(60, 60, 60);
      color: rgb(240, 240, 240);
   }
   h1{
       padding: 20px;
       height: 80px;
       margin: 0px;
       padding-left: 100px;
       text-align: right;
       flex-grow: 1;
     }
     h1 a {
       text-decoration: none;
       color: powderblue;
     }
   nav {
       display: inline;
       text-align: center;
       padding-top: 0px;
       height: 80px;
       padding-right: 60px;
       padding-left: 30px;
       flex-grow: 1;
     }
     ul {
         list-style: none;
         margin-top: 10px;
     }
     .main_nav li {
         float: left;
         margin: 20px;
         margin-top: 20px;
       }
       .main_nav li .nav_detail {
         position: absolute;
         left: 420px;
         top: 50px;
         background: rgba(60, 60, 60, 1);
         padding: 30px;
         width: 500px;
         color: powderblue;
       }
     nav a {
       text-decoration: none;
       color: white;
     }
   .login_register {
     display: flex;
     flex-direction: row;
     margin-top: 30px;
     flex-grow: 1;
    }

  section {
      display: flex;
      background-color: rgb(235, 235 , 235);
      flex-direction: row;
    }

    article .index{
        flex-grow: 1;
        display: flex;
        flex-shrink: 0 !important;
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .source_board {
          flex-grow: 1;
          height: 640px;
        }
        .composer_board, .lyricist_board, .performer_board {
          flex-grow: 1;
          border: 1px solid gray;
          height: 200px;
          margin: 10px;
          background-color: white;
          padding: 10px;
          width: 426px;
        }
      .second_part {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          width: 426px;
          height: 620px;
        }
        .free_board, .completed_board {
          flex-grow: 1;
          border: 1px solid gray;
          height: 300px;
          margin: 10px;
          background-color: white;
          padding: 10px;
          width: 426px;
        }
    article .login_page, article .register_page {
        display: flex;
        width: 426px;
        height: 300px;
        flex-grow: 1;
        text-align: center;
        padding: 60px;
      }
      .login_page .label, .register_page .label {
         margin-right: 10px;
      }
      .login_page .enter {
         margin: 10px;
      }
      .register_page .enter {
         margin: 20px;
         margin-left: 10px;
      }



    aside {
        flex-grow: 1;
        margin: 30px;
        background-color: rgb(235, 235 , 235);
        width: 100px;
      }

  footer {
  height: 100px;
  background: powderblue;
  background: rgb(60, 60, 60);
  color: rgb(240, 240, 240);
  padding: 30px;
  text-align: center;
}
